/*seletor universal*/
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 900px;
    height: 1000px;
}
header{
    padding: 15px;
    background-color: rgb(230,200,149);
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(171,161,134);
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

aside{
    flex: 30%;
    background-color: rgb(151,158,54);
    padding: 20px;
}

section{
    flex: 70%;
    background-color: rgb(190,193,79);
    padding: 20px;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: rgb(230,200,149);
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    padding: 10px;
    border: 3px solid black;
    height: 300;
    flex-direction: column row;
    justify-content: space-around;
}   

.contenedor div{
    background-color: rgb(119, 0, 255);
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}


#cuerpo{
    width: 900px;
    margin: 1000px;
}


#li{
    width: 100px;
    height: 100px;
}


